Repository wooda-ege/lovebird-server, pull requests merged in 2024-01, with the labels that each got.

#45 Refactor | #44 |@lcomment | 네이버 로그인 및 메서드 네이밍 리팩토링
  lovebird-api/src/test/kotlin/com/lovebird/api/service/external/PresignedUrlServiceTest.kt
  lovebird-external/web-client/src/main/kotlin/com/lovebird/webClient/client/NaverAuthClient.kt
  lovebird-external/web-client/src/main/kotlin/com/lovebird/webClient/client/dto/request/NaverLoginClientRequest.kt
  lovebird-external/web-client/src/main/kotlin/com/lovebird/webClient/client/dto/response/NaverUserInfoClientResponse.kt
  lovebird-external/web-client/src/main/kotlin/com/lovebird/webClient/client/dto/response/NaverUserInfoResponse.kt
  lovebird-security/src/main/kotlin/com/lovebird/security/dto/param/OAuthParam.kt
  lovebird-security/src/main/kotlin/com/lovebird/security/provider/oauth/AppleAuthProvider.kt
  lovebird-security/src/main/kotlin/com/lovebird/security/provider/oauth/GoogleAuthProvider.kt
  lovebird-security/src/main/kotlin/com/lovebird/security/provider/oauth/KakaoAuthProvider.kt
  lovebird-security/src/main/kotlin/com/lovebird/security/provider/oauth/NaverAuthProvider.kt
Labels: v1.0, fix, refactor

#49 Refactor | #48 | @lcomment | 모듈 제약 조건 적용
  README.md
  lovebird-api/build.gradle.kts
  lovebird-api/src/main/kotlin/com/lovebird/api/config/ComponentConfig.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/provider/PublicKeyProvider.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/provider/oauth/AppleAuthProvider.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/provider/oauth/KakaoAuthProvider.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/provider/oauth/NaverAuthProvider.kt
  lovebird-client/build.gradle.kts
  lovebird-client/src/main/kotlin/com/lovebird/client/config/WebClientConfig.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/vo/key/OidcPublicKey.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/vo/key/OidcPublicKeyList.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/AppleAuthClient.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/KakaoAuthClient.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/NaverAuthClient.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/PublicKeyClient.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/dto/request/NaverLoginClientRequest.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/dto/request/NaverUserInfoClientRequest.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/dto/response/NaverLoginClientResponse.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/dto/response/NaverUserInfoClientResponse.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/properties/AppleProperties.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/properties/GoogleProperties.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/properties/KakaoProperties.kt
  lovebird-client/src/main/kotlin/com/lovebird/client/web/properties/NaverProperties.kt
  lovebird-client/src/main/resources/client-dev.yml
  lovebird-client/src/main/resources/client-local.yml
  lovebird-client/src/main/resources/client-prod.yml
  lovebird-domain/build.gradle.kts
  lovebird-domain/src/main/kotlin/com/lovebird/domain/config/JpaConfig.kt
  lovebird-external/web-client/src/main/kotlin/com/lovebird/webClient/client/PublicKeyClient.kt
  settings.gradle.kts
Labels: v1.0, refactor

#50 Test | #44 | @lcomment | User 관련 테스트 코드 작성 및 명세
  lovebird-api/src/docs/asciidoc/auth.adoc
  lovebird-api/src/docs/asciidoc/index.adoc
  lovebird-api/src/docs/asciidoc/presigned-url.adoc
  lovebird-api/src/main/kotlin/com/lovebird/api/controller/GlobalControllerAdvice.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/controller/user/AuthController.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/dto/request/user/SignUpRequest.kt
  lovebird-api/src/main/kotlin/com/lovebird/api/service/user/AuthService.kt
  lovebird-api/src/main/resources/static/docs/index.html
  lovebird-api/src/test/kotlin/com/lovebird/api/common/base/ControllerDescribeSpec.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/external/PresignedUrlControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/user/AuthControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/service/user/AuthServiceTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/service/user/UserServiceTest.kt
Labels: v1.0, docs, test

#55 Test | #52 | @YongsHub | Calendar Unit Test 작성
  lovebird-api/src/test/kotlin/com/lovebird/api/common/base/ServiceDescribeSpec.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/service/calendar/CalendarServiceTest.kt
  lovebird-domain/src/main/kotlin/com/lovebird/domain/dto/query/CalendarListResponseParam.kt
Labels: v1.0, test

#57 Test | #56 | @YongsHub | Calendar Controller Test 및 Custom Snippet 추가
  lovebird-api/src/docs/asciidoc/calendar.adoc
  lovebird-api/src/docs/asciidoc/index.adoc
  lovebird-api/src/main/kotlin/com/lovebird/api/dto/response/calendar/CalendarDetailResponse.kt
  lovebird-api/src/main/resources/static/docs/index.html
  lovebird-api/src/test/kotlin/com/lovebird/api/common/base/ControllerDescribeSpec.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/calendar/CalendarControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/couple/CoupleCodeControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/couple/CoupleControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/external/PresignedUrlControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/profile/ProfileControllerTest.kt
  lovebird-api/src/test/kotlin/com/lovebird/api/controller/user/AuthControllerTest.kt
  lovebird-domain/src/main/kotlin/com/lovebird/domain/dto/query/CalendarListResponseParam.kt
  lovebird-domain/src/main/kotlin/com/lovebird/domain/repository/query/CalendarQueryRepository.kt
Labels: v1.0, refactor, test
